---
---

// Your variable overrides
$body-bg: #000;
$body-color: white;


$link-color:                 rgb(255, 255, 255); //white
$link-hover-color:           rgb(112, 116, 112); //gray

.icon:hover{
	color: rgb(112, 116, 112);
}



.card-shadow {
    // h-offset v-offset blur spread color
    box-shadow: 1px 0px 1px 1px rgba(255, 255, 255, 0.2), 
    0px 1px 1px 1px rgba(255, 255, 255, 0.14), 
    -1px 0px 1px 1px rgba(255, 255, 255, 0.12),
    0px -1px 1px 1px rgba(255, 255, 255, 0.12);
}

/* Style and animate the active class */

.activeCard {
    animation-name: activeCard;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 1) !important;    
    transform: translateY(-4px);
    font-weight: bolder;
}

@keyframes activeCard {
    from {
        transform: translateY(0px);
        font-weight: normal;
    }
    to {
        transform: translateY(-4px);
        font-weight: bolder;
    }
}


.imageModal {
    padding: 0.1rem;
    background-color:white;    
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 1px black;    
}

.videoModal {
    padding: 0.1rem;
    background-color:white;    
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 1px black;    
}

/* Clothing */
.product-grid {
    display: grid;
 
   /* define the number of grid columns */
   // grid-template-columns: repeat(6, 3fr);
   grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
   padding: 20px;
   grid-gap: 20px;
   justify-content: center;   
 }

.card-title {       
   padding: 5px;
   min-height: 75px;
   text-align: center;
   margin-bottom: 0px !important;
   
}


.card-price {    
    padding: 5px;    
    text-align: center;
}

.card-text {
   padding: 0px;   
   text-align: center;
   color: yellow;
   font-variant: small-caps;

}

.dotted-hr {
    border: 0.5px dashed white;
}

.clothingImageModal {
    padding: 0.1rem;     
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 1px black;    
}

.clothingImageModalActiveThumb {    
    box-shadow: 0px 0px 10px 1px white !important;    
}

.card-img-top {
    // width: 100%;
    height: 400px;        
    object-fit: cover;
    object-position: top;
}

.nav-active {
    border: 1px solid white;
}

/* Style and animated centered loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #616161;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Bootstrap and its default variables
@import "bootstrap/bootstrap";
